@import "../../styles/colors.scss";
// footer styles
#Footer {
  background-color: $primary;
  color: $light;
  .footer-text {
    cursor: default;
    font-size: 0.75rem;

    .linkedin-link {
      color: $light;
      &:hover {
        color: $secondary !important;
      }
    }
  }
}
